{% extends "base.html" %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Poker Club Home Page{% endblock %}

{% block main %}
          <div class="constrained">
            <div class="container">

              <h2 class="pagetitle">Welcome to the MIT Poker Club</h2>
              <div id="content" class="clearfix">
                {% if student %}
                    {{student.user.first_name}} {{student.user.last_name}}
                    <img src={{student.picture.url}}/>
                    {{student.class_year}}
                    {{student.bio}}
                    <a href={% url "edit_profile" %}>
                      Edit Profile
                    </a>
                {% else %}
                    {% load account %}
                    Welcome, {% user_display user %}
                {% endif %}

              </div><!-- /content -->
            </div>
          </div>
{% endblock %}