{% extends "base.html" %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}MIT Poker Club{% endblock %}

{% block main %}
	<div class="ui one column grid">
		<div class="column">
			<h3 class="ui centered header">Our Purpose</h4>
			<div class="ui bulleted list">
				<div class="item">
					Provide a spirited learning environment for poker enthusiasts and beginners alike to engage in and analyze poker strategies on a regular basis
				</div>
				<div class="item">
					Enhance and develop members' analytical and mathematical skills with respect to poker strategies
				</div>
				<div class="item">
					Culture an appreciation for the analoguous analytical and strategic skills that form the basis of poker and trading
				</div>
				<div class="item">
					Act as bridging intermediary between trading companies and poker players
				</div>
			</div>

			<h3 class="ui centered header">Disclaimer</h3>

			<p>
				The MIT Poker Club does not support any form of gambling on campus and thus will not be a gambling venue. Any form of gambling or cash game will be prohibited.
			</p>
		</div>
	</div>
{% endblock %}