{% extends "base.html" %}
{% load get_item %}
{% load user_extras %}


{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}MIT Poker Club{% endblock %}

{% block main %}
	<div class="ui one column grid">
		<div class="column">
			<div class="ui divided items">
				{% for alumnus in alumni %}
					<div class="item">
					{% if forloop.counter0|divisibleby:2 %}
						<div class="image">
							<img src="{{alumnus.picture_url}}">
						</div>
						<div class="content">
							<div class="header">
								{{alumnus.user.first_name}} {{alumnus.user.last_name}}
							</div>
							<div class="extra">
								<div class="ui list">
									<div class="item">
										<i class="{{icons|get_item:"pokerstars_username"}} icon"></i>
										{{alumnus.pokerstars_username}}
									</div>
									<div class="item">
										<i class="{{icons|get_item:"class_year_num"}} icon"></i>
										Class of {{alumnus.class_year_num}}
									</div>
								</div>
							</div>
							<div class="description">
								{{alumnus.bio}}
							</div>
						</div>
					{% else %}
						<div class="image mobile-show">
							<img src="{{alumnus.picture_url}}">
						</div>
						<div class="content">
							<div class="header">
								{{alumnus.user.first_name}} {{alumnus.user.last_name}}
							</div>
							<div class="extra">
								<div class="ui list">
									<div class="item">
										<i class="{{icons|get_item:"pokerstars_username"}} icon"></i>
										{{alumnus.pokerstars_username}}
									</div>
									<div class="item">
										<i class="{{icons|get_item:"class_year_num"}} icon"></i>
										Class of {{alumnus.class_year_num}}
									</div>
								</div>
							</div>
							<div class="description">
								{{alumnus.bio}}
							</div>
						</div>
						<div class="image mobile-hide">
							<img src="{{alumnus.picture_url}}">
						</div>
					{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}