{% extends "base.html" %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}MIT Poker Club{% endblock %}

{% block container %}
	<div class="ui main container">
  		<h1 class="pagetitle ui center aligned header">{{title}}</h1>
		<div class="ui one column center aligned grid">
			<div class="column">
				<iframe src="https://www.google.com/calendar/embed?src=mitpokerexec%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
{% endblock %}