{% extends "base.html" %}
{% load static %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}MIT Poker Club{% endblock %}

{% block container %}
  <div class="ui main container">
  <h1 class="pagetitle ui center aligned header">{{title}}</h1>
    <div class="ui two column stackable grid">
        <div class="left aligned column">
            <h2 class="ui centered header">Upcoming Events</h2>
            {% if events %}
                <div class="ui top attached segment upcomingevents">
                    <div class="ui divided relaxed list eventslist">
                        {% for event in events %}
                            <div class="item">
                                <div class="middle aligned image">
                                    <div class="ui center aligned red segment datepreview">
                                    <div class="header">
                                        {{event.time|date:"M"}}
                                    </div>
                                    <div class="extra">
                                        {{event.time|date:"d"}}
                                    </div>
                                    </div>
                                </div>
                                <div class="content ui list">

                                    <div class="header item">
                                        {{event.summary}}
                                    </div>
                                    <div class="extra item">
                                        <i class="calendar icon"></i>
                                        {{event.time|date}}
                                    </div>
                                    <div class="extra item">
                                        <i class="time icon"></i>
                                        {{event.time|time}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="ui center aligned top attached segment">
                    No upcoming events
                </div>
            {% endif %}
            <a href={% url "events" %}>
                <div class="ui bottom attached primary button">
                    View Full Calendar
                </div>
            </a>
        </div>
        <div class="column">
            <img class="ui large centered image" src="{% static "frontend/img/PokerClubLogo_ClearBackground.png" %}"/>
        </div>
    </div>
</div>
{% endblock %}