{% extends "base.html" %}
{% load static %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Poker Club Home Page{% endblock %}

{% block main %}
          <div class="constrained">
            <div class="container">
                <div class="ui grid">
                    <div class="ui middle aligned center aligned column">
                        <img class="ui large centered image" src="{% static "frontend/img/PokerClubLogo_ClearBackground.png" %}"/>
                    </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}