{% extends "base.html" %}
{% load get_item %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}MIT Poker Club{% endblock %}

{% block main %}
  <div class="ui one column grid">
    <div class="column">
      <div class="ui divided items">
        {% for officer in officers %}
          <div class="item">
          {% if forloop.counter0|divisibleby:2 %}
            <div class="image">
              <img src="{{officer.picture_url}}">
            </div>
            <div class="content">
              <div class="header">
                {{officer.user.first_name}} {{officer.user.last_name}}
              </div>
              <div class="meta">
                  {{officer.position}}
              </div>
              <div class="extra">
                <div class="ui list">
                  <div class="item">
                    <i class="{{icons|get_item:"pokerstars_username"}} icon"></i>
                    {{officer.pokerstars_username}}
                  </div>
                  <div class="item">
                    <i class="{{icons|get_item:"class_year"}} icon"></i>
                    {{officer.get_class_year_display}}
                  </div>
                </div>
              </div>
              <div class="description">
                {{officer.bio}}
              </div>
            </div>
          {% else %}
            <div class="content">
              <div class="header">
                {{officer.user.first_name}} {{officer.user.last_name}}
              </div>
              <div class="meta">
                  {{officer.position}}
              </div>
              <div class="extra">
                <div class="ui list">
                  <div class="item">
                    <i class="{{icons|get_item:"pokerstars_username"}} icon"></i>
                    {{officer.pokerstars_username}}
                  </div>
                  <div class="item">
                    <i class="{{icons|get_item:"class_year"}} icon"></i>
                    {{officer.get_class_year_display}}
                  </div>
                </div>
              </div>
              <div class="description">
                {{officer.bio}}
              </div>
            </div>
            <div class="image">
              <img src="{{officer.picture_url}}">
            </div>
          {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}