# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/pokerclubweb/local_settings.py
/pokerclubweb/public/static
/pokerclubweb/public/media

# Project database
*.db
