{% extends "base.html" %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Poker Club Home Page{% endblock %}

{% block main %}
          <div class="constrained">
            <div class="container">

              <div class="ui center aligned grid">
                    <div class="ui twelve wide left aligned column">
                      <div class="ui items">
                        {% for tournament in tournaments %}
                        <div class="link item">
                          <div class="ui small image">
                            <img src={{tournament.picture_url}}>
                          </div>
                          <div class="content">
                            <a href={% url "summary" tournament.id %} class="header">{{tournament.name}}</a>
                            <div class="meta">
                              <span>{{tournament.start_time}}</span>
                            </div>
                            <div class="description">
                              <p>{{tournament.description}}</p>
                            </div>
                            <div class="extra">
                              {{tournament.registered_members_count}} Registered Student{% if tournament.registered_members_count != 1 %}s{% endif %}
                            </div>
                            {% load user_extras %}
                            {% if user|has_group:"member_group" %}
                              <form action={% url "register" tournament.id %} method="post">
                                {% csrf_token %}
                                  {% if user.member in tournament.registered_members.all %}
                                      You are currently registered for this tournament.
                                      <input type="submit" class="ui submit button" value="Unregister">
                                  {% else %}
                                      You are not currently registered for this tournament.
                                      <input type="submit" class="ui submit button" value="Register">
                                  {% endif %}
                                </form>
                            {% endif %}
                          </div>
                          </div>
                        {% endfor %}
                </div>
                </div>
              <div id="content" class="clearfix">

              </div><!-- /content -->
            </div>
          </div>
{% endblock %}