{% extends "base.html" %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Poker Club Home Page{% endblock %}

{% block main %}
          <div class="constrained">
            <div class="container">


              <div id="content" class="clearfix">
              {% for tournament in tournaments %}
                <a href={% url "summary" tournament.id %}>
                    {{tournament}}
                </a>
                {% endfor %}
              </div><!-- /content -->
            </div>
          </div>
{% endblock %}