{% extends "base.html" %}
{% load get_item %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Poker Club Home Page{% endblock %}

{% block main %}

              <div class="ui center aligned grid">
                <div class="ui left aligned column">
                  <div class="ui items">
                  <div class="link item">
                    <div class="ui small image">
                      <img src={{tournament.picture_url}}>
                    </div>
                    <div class="middle aligned content">
                      <div class="header">
                        {{tournament.name}}
                      </div>
                      <div class="extra">
                        <div class="ui label">
                          <i class="{{icons|get_item:"start_time"}} icon"></i>
                          {{tournament.start_time}}
                        </div>
                        <div class="ui label">
                          <i class="{{icons|get_item:"location"}} icon"></i>
                          {{tournament.location}}
                        </div>
                      </div>
                      <div class="ui divider">
                      </div>
                      <div class="description">
                        <p>{{tournament.description|linebreaks}}</p>
                      </div>
                      <div class="extra">
                        {{tournament.registered_members_count}} Registered Student{% if tournament.registered_members_count != 1 %}s{% endif %}
                      </div>
                      {% load user_extras %}
                      {% if user|has_group:"member_group" %}
                        <form action={% url "register" tournament.id %} method="post">
                          {% csrf_token %}
                            {% if user.member in tournament.registered_members.all %}
                                You are currently registered for this tournament.
                                <input type="submit" class="ui submit button" value="Unregister">
                            {% else %}
                                You are not currently registered for this tournament.
                                <input type="submit" class="ui submit button" value="Register">
                            {% endif %}
                          </form>
                      {% endif %}
                    </div>
                    </div>
                    </div>
                    {% if user|has_group:"admin_group" %}
                      <div class="ui horizontal divider">
                        Actions
                      </div>
                      <a href={% url "admin_edit_tournament" tournament.id %}>
                        <button class="ui button">
                          Edit Tournament
                        </button>
                      </a>
                      <a href={% url "admin_edit_tournament_results" tournament.id %}>
                        <button class="ui button">
                          Edit Tournament Results
                        </button>
                      </a>
                    {% endif %}
                    </div>
                    </div>

{% endblock %}