{% extends "base.html" %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}MIT Poker Club{% endblock %}

{% block main %}
    <div class="ui three column grid">
        <div class="column">
            <a href={% url "admin_create_tournament" %}>
                <div class="ui fluid button">
                    Create Tournament
                </div>
            </a>
        </div>
        <div class="column">
            <a href={% url "admin_create_sponsor" %}>
                <div class="ui fluid button">
                    Create Sponsor
                </div>
            </a>
        </div>
        <div class="column">
            <a href={% url "admin_create_admin" %}>
                <div class="ui fluid button">
                    Create Admin
                </div>
            </a>
        </div>
        <div class="column">
            <a href={% url "admin_download_csv" %}>
                <div class="ui fluid button">
                    Download User Information
                </div>
            </a>
        </div>
    </div>
{% endblock %}