{% extends "base.html" %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Poker Club Home Page{% endblock %}

{% block main %}
  {% if member %}
      {{member.user.first_name}} {{member.user.last_name}}
      <img src={{member.picture_url}}/>
      {{member.class_year}}
      {{member.bio}}
      {% load user_extras %}
      {% if user|has_group:"admin_group" or user.sponsor.can_view_resumes %}
        <a href={% url "view_resume" member.id %}>
          View Resume
        </a>
      {% endif %}
      {% if user.id == member.user.id %}
        <a href={% url "edit_profile" %}>
          Edit Profile
        </a>
        <a href={% url "change_password" %}>
          Change Password
        </a>
      {% endif %}
  {% else %}
      {% load account %}
      Welcome, {% user_display user %}
  {% endif %}
{% endblock %}