@import "partials/base";

.pagetitle.ui.header {
    margin-bottom: 30px;
}

#navbar, #sidebar {
    .item {    
        text-transform: uppercase !important;
        font-weight: 200;
    }
    .desktop-hide {
        display: inherit;
    }
    .mobile-hide {
        display: inherit;
    }
    .collapsed-left-menu, .mobile-show {
        display: none;
    }
    @media (max-width:1200px) {
        .desktop-hide {
            display: none;
        }
        .collapsed-left-menu {
            display: inherit;
        }
    }
    @media (max-width:768px) {
        .mobile-hide {
            display: none;
        }
        .mobile-show {
            display:inherit;
        }
    }
}

.ui.header {
    text-transform: uppercase;
    font-weight:200
}

.pusher {
    padding-top: 7em;
}

.ui.main.container {
    //min-height: calc(100% - 130px);
    min-height: calc(100vh - 225px);    
}

.ui.footer.segment {
    
    padding: 2em 0em;
    margin-top: 5em;
    // position:fixed;
    // bottom:0;
    // width:100vw;
    a {
        color: black;
    }
}

.ui.multiple.selection.dropdown {
    .field-icon {
        padding-top: .55em;
    }
}

.ui.segment.datepreview {
    width:3.5em;
    height:3.5em;
    padding:0.5em;

}