{% extends "base.html" %}

{% block bodyid %}page404{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Permission denied!{% endblock %}

{% block main %}
          <div class="constrained">
            <div class="container">

              <h2 class="pagetitle">Permission denied!</h2>
              <div id="content" class="clearfix">

                <p>We're sorry but you are not permitted to access this page.</p>

                <p class="errorpage-back-link">Back to the <a href="/">home page</a>.
              </div><!-- /content -->
            </div>
          </div>
{% endblock %}
