{% extends "base.html" %}

{% block bodyid %}page404{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Page not found!{% endblock %}

{% block main %}
          <div class="constrained">
            <div class="container">

              <h2 class="pagetitle">Page not found!</h2>
              <div id="content" class="clearfix">
                
                <p>We're sorry but the page you are looking for can't be found.</p>
                
                <p class="errorpage-back-link">Back to the <a href="/">home page</a>.
              </div><!-- /content -->
            </div>
          </div>
{% endblock %}
