{% if errors %}
<form class="ui form error" method="post">
{% else %}
<form class="ui form" method="post">
{% endif %}
    {% for form in forms %}
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <div class="field error">
            {% else %}
                <div class="field">
            {% endif %}
                <label>{{ field.label_tag }}</label>

                {{ field }}
                {% if field.help_text %}
                    <div class="ui pointing label">
                        {{ field.help_text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}

        <div class="ui error message">
            <ul>
            {% for form in forms %}
            {% for field in form %}
                {% for error in field.errors %}
                    <li> {{error | escape}}</li>
                {% endfor %}
            {% endfor %}
            {% endfor %}
            </ul>
        </div>

    <input type="submit" value="Submit" />
</form>