{% load static %}
<div id="navbar" class="ui borderless top fixed main menu">
	<div class="ui container">
		
		<a class="vertically fitted header item" href={% url "index" %}>
			<img class="ui tiny image" src="{% static "frontend/img/PokerClubLogo_ClearBackground.png" %}"/>
		</a>
		<a class="item collapsed-left-menu">
			<i class="sidebar icon"></i>
			Menu
		</a>
		<div class="desktop-hide left menu">
			<a class="item" href={% url "events" %}>
				Events
			</a>
			<a class="item" href={% url "sponsors" %}>
				Sponsors
			</a>
			<a class="item" href={% url "officers" %}>
				Officers
			</a>
			<a class="item" href={% url "alumni" %}>
				Alumni
			</a>
			<a class="item" href={% url "contact" %}>
				Join / Contact / FAQ
			</a>
		</div>
		<div class="right menu">
			{% load user_extras %}
			{% if request.user|has_group:"admin_group" %}
				<a class="mobile-hide item" href={% url "admin_tools" %}>
					Admin Tools
				</a>
			{% endif %}
			{% if request.user|has_group:"admin_group" or request.user|has_group:"sponsor_group"%}
				<a class="mobile-hide item" href={% url "users_index" %}>
					Members
				</a>
			{% endif %}
			{% if request.user.is_authenticated %}
				{% if request.user|has_group:"sponsor_group" %}
					<a class="mobile-hide item" href={% url "sponsor_profile" request.user.id %}>
						Profile
					</a>
				{% else %}
					<a class="mobile-hide item" href={% url "profile" request.user.id %}>
						Profile
					</a>
				{% endif %}
				<a class="item" href={% url "logout" %}>
					Logout
				</a>
			{% else %}
				<a class="item" href={% url "login" %}>
					Login
				</a>
				<a class="item" href={% url "signup" %}>
					Sign Up
				</a>
			{% endif %}
		</div>
	</div>
</div>
