{% extends "base.html" %}

{% block bodyid %}signup{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}MIT Poker Club{% endblock %}

{% block main %}
	<div class="ui one column grid">
    	<div class="center aligned column">
	        Your account has been validated.
	    </div>
        <div class="center aligned column">
            <a href={% url "login" %}>
                <div class="ui primary button">
                    Login
                </div>
            </a>
        </div>
	</div>
{% endblock %}