{% extends "base.html" %}

{% block bodyid %}signup{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Poker Club Home Page{% endblock %}

{% block main %}
          <div class="constrained">
            <div class="container">

              <div id="content" class="clearfix">
                Instructions to reset your password have been sent to your email. Please check your spam, and confirm you entered the correct email address associated with your account.
              </div>
            </div>
          </div>
{% endblock %}